@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    border:0;
    margin:0;
    padding:0;
    /* font-family: 'Poppins',sans-serif; */
    font-family: "Courier Prime", monospace;
    box-sizing: border-box;
}
body{
    background: #a97979;
}
.stopwatch{
    width:90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:40px 0;
    color:white;
    margin:200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
}

.stopwatch h1{
    margin-top: 60px;
    font-size:64px;
    font-weight: 300;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons img{
    padding-top:30px;
    width:50px;
    margin:0 20px;
    cursor:pointer;
}
.buttons img:nth-child(2)
{
    width:80px;
}